
body{
    height: 100%;
    background-image: url("/curls.png");
    background-position: fixed;
}

  #articles {
      overflow: auto;
      height: 700px;
  }

  #notes{
      padding: 20px;
      height: 700px;
      overflow: auto;
  }

  textarea,
  input {
      width: 95%;
      background-color: rgba(0, 0, 0, 0.274);
  }

  input {
      height: 36px;
      font-size: 24px;
      margin: 2px;
  }

  textarea {
      height: 200px;
      width: 95%;
      font-size: 18px;
      margin: 2px;

  }
  #inputDiv {
            background-color: rgba(0, 0, 0, 0.274);
            border: 2px;
            border-radius: 5px;
            padding: 10px;
            border-style: solid;
            background-image: url("./blurcurls.png");
            background-attachment: fixed;
  }

  .card{
      box-shadow: 1px 1px 5px grey;
  }

  .container{
      overflow: hidden;
      max-width: 100%;
  }

  .articleClass{
      box-shadow: 1px 1px 5px grey;
      border-radius: 2px;
      padding: 5px;
      display: table;
      background-image: url("./blurcurls.png");
      background-attachment: fixed;

  }

  .headder{
      display:table;
      border: 2px;
      border-radius: 5px;
      padding: 5px;
      border-color: rgba(0, 0, 0, 0.274);
      border-style: solid;
      background-color: rgba(255, 255, 255, 0.1);
      background-image: url("./blurcurls.png");
      background-attachment: fixed;
  }

  .card{
      background-color: rgba(0, 0, 0, 0.479);
  }

  .card-title{
      color: rgba(255, 255, 255, 0.863);
  }

  .card-text {
      color: rgba(255, 255, 255, 0.479);
  }